custo_jira.json
{
  "name": "custo_jira",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "906b8769-9da4-4e50-86eb-ac5130c6b610",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        -64
      ],
      "id": "56a635e1-5a32-4a25-a763-d44aaac11a24",
      "name": "Webhook",
      "webhookId": "906b8769-9da4-4e50-86eb-ac5130c6b610"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}\n\nCurrent issue context: {{ JSON.stringify($json.body.issueContext) }}\n\nChat history: {{ JSON.stringify($json.body.history) }}",
        "options": {
          "systemMessage": "You are a Jira Service Management expert assistant embedded in a Jira issue panel. You have access to multiple Jira REST API tools to help users manage their Jira instance.\n\nYou can:\n- Get details of any issue\n- Create new issues\n- Update existing issues (summary, description, priority, assignee, status)\n- Add comments to issues\n- Search issues using JQL\n- Get project information\n- List all projects\n- Get available issue types\n- Get available transitions for an issue\n- Transition an issue to a new status\n\nAlways use the issue key from the current issue context as the default unless the user specifies otherwise. Be concise and actionable. When creating or updating issues, confirm the key fields before proceeding if anything is ambiguous. Format responses clearly — use bullet points for lists of fields."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -560,
        -64
      ],
      "id": "6bc83368-311b-4f6a-8001-3d064509beea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -768,
        336
      ],
      "id": "ab4b01c2-87a4-4a5d-a74d-5d2d09b42b2b",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "qWtR6t44mHMBV9n0",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        -64
      ],
      "id": "e49764bd-9e57-4d35-bde6-0fc3903b6c15",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=http://jira:8080/rest/api/2/issue/{{ $fromAI('issueKey', 'The Jira issue key to fetch, e.g. SAMP-24. Default to the current issue key from context.') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -544,
        512
      ],
      "id": "aa65452d-b9e7-4a5e-ab95-ecc356d8db4d",
      "name": "Get Issue"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jira:8080/rest/api/2/issue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"project\":   { \"key\": \"{{ $fromAI('projectKey', 'Project key e.g. SAMP') }}\" },\n    \"summary\":   \"{{ $fromAI('summary', 'The issue title/summary') }}\",\n    \"issuetype\": { \"name\": \"{{ $fromAI('issueType', 'Issue type: Bug, Task, Story, Epic. Default Task.') }}\" },\n    \"description\": \"{{ $fromAI('description', 'Optional description', 'string', '') }}\",\n    \"priority\":  { \"name\": \"{{ $fromAI('priority', 'Priority: Highest, High, Medium, Low, Lowest. Default Medium.', 'string', 'Medium') }}\" }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -368,
        528
      ],
      "id": "1a2d35b0-a28d-4ee8-a4b9-67b220cfc77e",
      "name": "Create Issue"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://jira:8080/rest/api/2/issue/{{ $fromAI('issueKey', 'The Jira issue key to update, e.g. SAMP-24') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "={{ $fromAI('fieldsJson', 'A JSON object of fields to update. Examples: {\"summary\":\"New title\"} or {\"priority\":{\"name\":\"High\"}} or {\"description\":\"New description\"} or {\"assignee\":{\"name\":\"username\"}}') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -560,
        336
      ],
      "id": "9fc3ced2-6582-43c1-aebc-3b6edb4d9273",
      "name": "Update Issue"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://jira:8080/rest/api/2/issue/{{ $fromAI('issueKey', 'The Jira issue key to comment on, e.g. SAMP-24') }}/comment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $fromAI('commentBody', 'The text content of the comment to add') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -368,
        336
      ],
      "id": "853126e0-5402-44a0-89e5-6acb1fb1e890",
      "name": "Add Comment"
    },
    {
      "parameters": {
        "url": "=http://jira:8080/rest/api/2/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -160,
        336
      ],
      "id": "cebb53fa-2a8f-46b2-ae0c-3fbb89032e35",
      "name": "Search Issues (JQL)"
    },
    {
      "parameters": {
        "url": "=http://localhost:8080/rest/api/2/project/{{ $fromAI('projectKey', 'The project key, e.g. SAMP') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        48,
        336
      ],
      "id": "1d2fc244-d1df-4dfc-9c99-0cf21b72e12e",
      "name": "Get Project"
    },
    {
      "parameters": {
        "url": "http://jira:8080/rest/api/2/project",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        240,
        336
      ],
      "id": "25fcfa0d-2463-43d1-a008-179e499452f9",
      "name": "List All Projects"
    },
    {
      "parameters": {
        "url": "=http://jira:8080/rest/api/2/issue/{{ $fromAI('issueKey', 'The Jira issue key to get transitions for, e.g. SAMP-24') }}/transitions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        448,
        336
      ],
      "id": "e6ffc0c0-e906-4480-9f13-fe2ecb497e1e",
      "name": "Get Transitions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://jira:8080/rest/api/2/issue/{{ $fromAI('issueKey', 'The Jira issue key to transition, e.g. SAMP-24') }}/transitions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transition\": {\n    \"id\": \"{{ $fromAI('transitionId', 'The numeric transition ID from Get Transitions, e.g. 21') }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        640,
        336
      ],
      "id": "fd2cb502-b333-452e-a0ac-6fa199209694",
      "name": "Transition Issue"
    },
    {
      "parameters": {
        "url": "=http://jira:8080/rest/api/2/project/{{ $fromAI('projectKey', 'The project key to get issue types for, e.g. SAMP') }}/statuses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{JIRA_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        848,
        336
      ],
      "id": "a01a8236-f694-4504-bcf0-539113ded0c5",
      "name": "Get Project Statuses"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Issue": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Issue": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Issue": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Comment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Issues (JQL)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List All Projects": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Transitions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transition Issue": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Statuses": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9929c5f8-5979-44d6-bbaa-5bf956325e29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2da090d30702957fe42ee6515e9e025c710408d31a449aecf1a9c0f4aec7558b"
  },
  "id": "WlqRH7XErs7iCuNQ",
  "tags": []
}
